*{margin: 0;padding: 0;box-sizing: border-box;font-family: roboto,sans-serif;}
body{
    background-color: rgb(223, 114, 114);
}
form{    
    background-color:white;
    max-width: 500px;
    width: 70%;
    padding:20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
form label{
    display: flex;
}